// Imports
@import '../variables.scss';

// Google Font Imports

// Montserrat regular (400)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

// // Roboto slab 400 och 600
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

// Base styling

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // Makes the root font size to 10px for default browsers
}

body {
  font-size: $p-normal;
  font-family: 'Montserrat', sans-serif;
}

// Heading styles

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  word-wrap: break-word;
}

h1 {
  font-size: $title-1;
  line-height: $line-height-h1;
  padding: $spacing-m 0;
}
h2 {
  font-size: $title-2;
  line-height: $line-height-h2;
  padding: $spacing-s 0;
}
h3 {
  font-size: $title-3;
  line-height: $line-height-h3-h4;
  padding: $spacing-s 0;
}
h4 {
  font-size: $title-4;
  line-height: $line-height-h3-h4;
  padding: $spacing-s 0;
}
h5 {
  font-size: $title-5;
  line-height: $line-height-normal;
  padding: $spacing-s 0;
}
h6 {
  font-size: $title-6;
  line-height: $line-height-normal;
  padding: $spacing-s 0;
}

// Paragraph styles
p {
  font-size: $p-normal;
  font-weight: 400;
  line-height: $line-height-normal;
  padding: $spacing-s 0;
  margin: 0;
  word-wrap: break-word;
}

.p-small {
  font-size: $p-small;
}

.p-large {
  font-size: $p-large;
}

// List styles
ul,
ol {
  list-style: none;
}

li {
  font-size: $p-normal;
  font-weight: 400;
  margin: 0;
}

// link styling
a {
  text-decoration: none;
  color: $color-black;
}
